In [10]:
import numpy as np
import scipy
import matplotlib
import seaborn
import pandas as pd
import altair
import vega_datasets
import sklearn
import bokeh
import datashader
import holoviews
import wordcloud
import spacy

### Import data

In [18]:
# Food expenditures data from ERS (Economic Research Service, USDA)
foodexp = pd.read_csv('faps_fahitem_puf.csv')
with open(, 'rb') as f:
  contents = f.read()
# NOTE - I need to find the documentation for this, not sure what dates I am looking at?

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 12: invalid start byte

In [12]:
# Monthly expenditures data, ERS (USDA) Updated Feb 25, 2020
#Note, 'constant dollar' refers to 1988 = 100
monthly_sales=pd.read_csv('monthly_sales_cleaned.csv')
monthly_sales.head()

,Year,Month,FAH_nominal_wtax_wtips_million,FAFH_nominal_wtax_wtips_million,Total_nominal_food_sales_million,FAH_constdollar_million,FAFH_constdollar_million,Total_constant_dollar_food_sales_million
0,2019.0,December,"74,901.67","73,337.91","148,239.58","36,125.06","31,012.62","67,423.64"
1,2019.0,November,"69,798.19","69,585.45","139,383.64","33,666.99","29,510.12","63,482.68"
2,2019.0,October,"67,301.77","71,609.53","138,911.30","32,380.60","30,417.63","63,227.35"
3,2019.0,September,"64,101.42","69,391.72","133,493.14","30,942.60","29,531.69","60,922.88"
4,2019.0,August,"69,333.52","75,675.25","145,008.77","33,522.32","32,289.19","66,314.81"

### EDA: monthly_sales

In [13]:
monthly_sales.shape
#There are 281 rows and 8 columns

(281, 8)

In [14]:
monthly_sales.dtypes.value_counts()
monthly_sales.dropna()

,Year,Month,FAH_nominal_wtax_wtips_million,FAFH_nominal_wtax_wtips_million,Total_nominal_food_sales_million,FAH_constdollar_million,FAFH_constdollar_million,Total_constant_dollar_food_sales_million
0,2019.0,December,"74,901.67","73,337.91","148,239.58","36,125.06","31,012.62","67,423.64"
1,2019.0,November,"69,798.19","69,585.45","139,383.64","33,666.99","29,510.12","63,482.68"
2,2019.0,October,"67,301.77","71,609.53","138,911.30","32,380.60","30,417.63","63,227.35"
3,2019.0,September,"64,101.42","69,391.72","133,493.14","30,942.60","29,531.69","60,922.88"
4,2019.0,August,"69,333.52","75,675.25","145,008.77","33,522.32","32,289.19","66,314.81"
5,2019.0,July,"68,024.06","74,865.75","142,889.81","32,861.14","32,012.86","65,380.20"
6,2019.0,June,"66,585.59","74,299.81","140,885.39","32,159.85","31,835.12","64,515.51"
7,2019.0,May,"69,079.83","75,131.65","144,211.48","33,262.84","32,296.27","66,026.86"
8,2019.0,April,"64,854.45","70,190.13","135,044.58","31,262.73","30,235.69","61,926.26"
9,2019.0,March,"66,186.03","72,894.99","139,081.02","31,815.57","31,502.33","63,773.25"
10,2019.0,February,"58,872.48","63,234.77","122,107.25","28,358.17","27,377.49","56,099.50"
11,2019.0,January,"64,071.99","63,772.23","127,844.22","30,949.14","27,707.97","58,919.61"
12,2018.0,December,"72,707.45","70,230.21","142,937.66","35,324.10","30,618.80","66,187.29"
13,2018.0,November,"67,566.14","65,877.62","133,443.77","32,913.68","28,836.00","61,993.00"
14,2018.0,October,"65,247.06","68,449.71","133,696.78","31,713.87","30,047.40","62,115.66"
15,2018.0,September,"62,996.10","66,651.59","129,647.69","30,588.94","29,284.89","60,226.17"
16,2018.0,August,"66,276.57","71,974.20","138,250.77","32,196.80","31,693.09","64,302.49"
17,2018.0,July,"65,205.52","71,361.41","136,566.92","31,702.51","31,482.59","63,602.17"
18,2018.0,June,"64,887.73","71,326.59","136,214.31","31,635.65","31,503.18","63,566.96"
19,2018.0,May,"66,567.86","71,423.26","137,991.13","32,437.67","31,603.03","64,429.98"
20,2018.0,April,"61,445.40","66,783.71","128,229.10","29,836.97","29,648.30","59,845.71"
21,2018.0,March,"66,018.72","69,630.93","135,649.66","32,188.35","30,986.52","63,519.43"
22,2018.0,February,"58,249.40","60,571.31","118,820.71","28,396.98","26,983.96","55,662.03"
23,2018.0,January,"61,468.30","60,610.95","122,079.26","29,887.04","27,066.90","57,166.98"
24,2017.0,December,"72,177.30","67,992.91","140,170.22","35,278.37","30,470.38","65,931.96"
25,2017.0,November,"65,035.53","62,075.77","127,111.30","31,811.51","27,886.02","59,876.90"
26,2017.0,October,"62,454.99","64,340.55","126,795.55","30,404.02","28,956.02","59,611.02"
27,2017.0,September,"61,306.53","63,337.98","124,644.51","29,896.67","28,536.91","58,686.36"
28,2017.0,August,"62,955.36","65,716.80","128,672.16","30,737.13","29,700.01","60,703.62"
29,2017.0,July,"62,330.78","65,798.94","128,129.73","30,417.73","29,833.88","60,515.12"
...,...,...,...,...,...,...,...,...
246,1999.0,June,"33,493.00","27,001.33","60,494.33","23,860.39","19,983.96","43,697.54"
247,1999.0,May,"34,399.83","27,449.29","61,849.11","24,476.84","20,315.23","44,648.86"
248,1999.0,April,"32,615.66","26,322.54","58,938.20","23,264.54","19,492.81","42,625.59"
249,1999.0,March,"33,102.01","25,854.37","58,956.38","23,626.46","19,180.64","42,664.85"
250,1999.0,February,"29,749.96","23,672.01","53,421.98","21,182.70","17,603.99","38,659.78"
251,1999.0,January,"31,539.11","23,825.75","55,364.87","22,389.01","17,750.25","39,992.32"
252,1998.0,December,"36,959.89","25,942.13","62,902.01","26,512.42","19,385.50","45,800.65"
253,1998.0,November,"32,529.11","24,482.40","57,011.51","23,349.21","18,339.14","41,562.83"
254,1998.0,October,"32,879.52","26,176.95","59,056.47","23,601.40","19,644.22","43,080.24"
255,1998.0,September,"31,382.63","24,864.22","56,246.85","22,709.11","18,681.76","41,259.91"
256,1998.0,August,"32,599.47","26,553.00","59,152.47","23,560.87","20,024.48","43,418.28"
257,1998.0,July,"33,277.36","26,472.57","59,749.93","24,140.89","20,013.27","43,993.45"
258,1998.0,June,"31,819.14","25,881.49","57,700.63","23,126.40","19,615.11","42,590.70"
259,1998.0,May,"32,787.34","26,445.52","59,232.86","23,800.56","20,055.17","43,667.14"
260,1998.0,April,"31,238.78","24,709.54","55,948.32","22,747.23","18,785.70","41,374.80"
261,1998.0,March,"30,786.00","24,634.77","55,420.77","22,417.43","18,764.34","41,010.33"
262,1998.0,February,"28,163.25","22,338.80","50,502.05","20,533.08","17,047.88","37,440.90"
263,1998.0,January,"30,442.64","22,676.46","53,119.10","22,056.77","17,349.57","39,257.97"
264,1997.0,December,"35,049.62","24,103.27","59,152.89","25,681.37","18,465.04","44,047.84"
265,1997.0,November,"31,800.28","23,057.23","54,857.51","23,314.79","17,708.81","40,900.86"
266,1997.0,October,"31,844.20","24,421.05","56,265.24","23,361.34","18,804.23","42,030.00"
267,1997.0,September,"30,396.65","23,741.77","54,138.42","22,355.34","18,328.00","40,518.10"
268,1997.0,August,"32,224.97","25,813.13","58,038.11","23,714.65","19,978.14","43,519.37"
269,1997.0,July,"32,298.72","25,230.40","57,529.12","23,889.25","19,564.80","43,302.57"
270,1997.0,June,"30,881.50","24,418.14","55,299.64","22,898.90","18,995.71","41,730.74"
271,1997.0,May,"32,477.24","25,119.82","57,597.06","24,051.40","19,579.35","43,464.45"
272,1997.0,April,"30,011.51","23,415.44","53,426.95","22,225.24","18,262.78","40,317.55"
273,1997.0,March,"31,584.10","23,639.87","55,223.97","23,360.07","18,461.60","41,673.64"
274,1997.0,February,"28,154.23","21,313.57","49,467.80","20,823.22","16,687.75","37,353.72"
275,1997.0,January,"30,334.11","21,457.62","51,791.73","22,407.04","16,833.03","39,108.55"

In [15]:
#Change dtypes from 'object' to float for other columns besides month

numcols=["FAH_nominal_wtax_wtips_million", 
               "FAFH_nominal_wtax_wtips_million", 
               "Total_nominal_food_sales_million", 
               "FAH_constdollar_million", 
               "FAFH_constdollar_million", 
               "Total_constant_dollar_food_sales_million"]

# Remove commas
monthly_sales[numcols] = monthly_sales[numcols].replace({',': ''}, regex=True)

#Convert strings without commas into numeric values
monthly_sales[monthly_sales.columns[2:]] = monthly_sales[monthly_sales.columns[2:]].apply(pd.to_numeric, downcast='float')
monthly_sales.dtypes.value_counts()

float32    6
float64    1
object     1
dtype: int64

In [16]:
monthly_sales.describe()

,Year,FAH_nominal_wtax_wtips_million,FAFH_nominal_wtax_wtips_million,Total_nominal_food_sales_million,FAH_constdollar_million,FAFH_constdollar_million,Total_constant_dollar_food_sales_million
count,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000,276.000000
mean,2008.000000,48386.148438,43482.070312,91868.218750,27138.095703,24029.515625,51095.445312
std,6.645299,11113.704102,13977.619141,24894.390625,2800.712402,3553.622070,6306.088867
min,1997.000000,28154.230469,21313.570312,49467.800781,20533.080078,16687.750000,37353.718750
25%,2002.000000,38072.917969,31656.329590,69660.880859,25205.272949,21357.254883,46476.108398
50%,2008.000000,48919.115234,42002.826172,90843.816406,27158.325195,23785.455078,50804.230469
75%,2014.000000,57439.553711,53139.175781,111040.453125,28470.807129,26107.371582,55041.477539
max,2019.000000,74901.671875,75675.250000,148239.578125,36125.058594,32296.269531,67423.640625

The data spans 1997 to December 2019. 

FAH = "Food At Home"
FAFH = "Food Away From Home"

Does not includ schools/institutions. Data is in millions of US dollars. Values are total monthly sales.